# 1. Ambiente python e cache
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# 2. Variáveis de ambiente (ex: chaves de API)
.env

# 3. Dados locais da Friday
# Ignora o arquivo de tarefas central
v2_storage/tasks.md

# 4. Ignora todo o conteúdo dentro da pasta wiki
v2_storage/wiki/*

# 5. Obriga o Git a rastrear o arquivo .gitkeep para manter a pasta viva
!v2_storage/wiki/.gitkeep